{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
<div class="container">
    <div class="row">
        <h1>Les expositions a venir</h1>
    </div>
    <div class="row">
        {% for result in onlyNextExpo %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ result.date|date('d-m-Y') }}</h5>
                    <p class="card-text">{{ result.location }}</p>
                    <p class="card-text">{{ result.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}