{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Formulaire d'ajout d'oeuvre</h1>
                {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
                <p>
                    {{ form_label(form.name, 'Nom: ') }}
                    {{ form_widget(form.name) }}
                </p>
                <p>
                    {{ form_label(form.description, 'Description: ') }}
                    {{ form_widget(form.description) }}
                </p>
                <p>
                    {{ form_label(form.image, 'Image: ') }}
                    {{ form_widget(form.image) }}
                </p>
                <p>
                    {{ form_label(form.category, 'Catégories: ') }}
                    {{ form_widget(form.category) }}
                </p>
                <p>
                    <input type="submit" value="Valider" class="btn btn-primary">
                </p>
                {{ form_end(form) }}
            </div>
        </div>


    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}