{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Gestion des oeuvres</h1>

                {% include 'inc/flash.message.html.twig' %}
                <p class="text-right">
                    <a href="{{ url('admin.oeuvre.create') }}" class="btn btn-primary">Ajouter</a>
                </p>
                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.name }}</td>
                            <td>{{ result.description }}</td>
                            <td>
                                <img src="{{ asset('img/oeuvre/' ~ result.image) }}" class="w-25" alt="">
                            </td>
                            <td>
                                <a href="{{ url('admin.oeuvre.update', { id: result.id } ) }}" class="btn btn-warning">Modifier</a>
                                <a href="{{ url('admin.oeuvre.remove', { id: result.id }) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}