{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="">
                <h1>Gestion des expositions</h1>

                {% include 'inc/flash.message.html.twig' %}
                <p class="text-right">
                    <a href="{{ url('admin.exposition.create') }}" class="btn btn-primary">Ajouter</a>
                </p>

                <table class="table table-striped">
                    <tr>
                        <th class="" style="min-width: 130px;">Date</th>
                        <th>Location</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for result in results %}
                        <tr>
                            <td style="min-width: 130px;" class="">{{ result.date|date('d-m-Y') }}</td>
                            <td>{{ result.location }}</td>
                            <td>{{ result.description }}</td>
                            <td>
                                <a href="{{ url('admin.exposition.update', { id: result.id } ) }}" class="btn btn-warning">Modifier</a>
                                <a href="{{ url('admin.exposition.remove', { id: result.id }) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}