{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
<div class="container">
    <div class="row">
        <h1 class="">Tito Salgado</h1>
    </div>
    <div class="row">
        <p>Bienvenue sur le site de Tito Salgado, artiste multi-disciplinaire</p>
    </div>
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for result in results |slice(1,4)%}
                    <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                            <a href="{{ url('oeuvres.detail', { slug: result.slug }) }}">
                                <img src="{{ asset('img/oeuvre/' ~ result.image) }}" class="img-fluid" alt="">
                            </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}