{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{ asset('img/oeuvre/' ~ result.image) }}" class="img-fluid" alt="">
            </div>
            <div class="col-sm-9">
                <h3>{{ result.name }}</h3>
                <p>{{ result.description }}</p>
            </div>
        </div>


    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}